html {
    scroll-behavior: smooth;
}
nav {
    box-shadow: 0 2px 3px rgb(95, 94, 94);
    transition: all 0.3s;
}
.titleHeader{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.titleHeader h1{
    margin-top: 200px;
}

display: flex;
height: 100%;
align-items: center;
justify-content: center;
}

h5 {
color: white;
top: 300px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
padding-bottom: 38px;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-tap-highlight-colour: rgba(0, 0, 0, 0);
-webkit-font-smoothing: antialiased;
-webkit-box-direction: normal;
}

#name:after,
#name:before {
content: '';
width: 50px;
height: 2px;
background: black;
margin: 0 10px;
}
.parallax{
    margin-top: 80px; 
    background-image: url("../img/landing_image.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align: center;
}
.jumbotron {
    background-color: rgb(237, 241, 245);
}
#profile hr{
    width: 600px;
}
#profilePhotoDiv {
    text-align: center;
    margin-top: 30px;
}
#profileQuote {
    font-size: 1.5em;
    color: rgb(99, 94, 94);
    padding-top: 20px;
}
